<app-nav></app-nav>

<div class="delete-policy-container">
    <h2>მომხმარებლის მონაცემების წაშლა</h2>
    <p>
        ჩვენთვის მნიშვნელოვანია თქვენი პირადი მონაცემების კონფიდენციალურობა და დაცვა. თუ გსურთ findhaus.ge-დან თქვენი მონაცემების წაშლა, გთხოვთ, გამოიყენოთ შემდეგი ინსტრუქცია:
    </p>
    <h3> მონაცემების წაშლის მოთხოვნის გაგზავნა:</h3>
    <p>
        თქვენ შეგიძლიათ მოითხოვოთ თქვენი პირადი მონაცემების წაშლა ჩვენი სისტემიდან შემდეგი გზით:
    </p>
    <ul>
        <li>
            მოგვწერეთ ელ. ფოსტა მისამართზე: 
            <a href="mailto:support&#64;findhaus.ge">support&#64;findhaus.ge</a>
        </li>
        <li>
            გთხოვთ, მიუთითოთ თქვენი სახელი, ელ. ფოსტა (რომელითაც იყენებდით პლატფორმას) და ზუსტი მოთხოვნა მონაცემების წაშლასთან დაკავშირებით.
        </li>
    </ul>
    <p>
        მონაცემების წაშლის მოთხოვნის მიღების შემდეგ, ჩვენ დავიწყებთ მონაცემების წაშლის პროცესს და დაგიდასტურებთ ამას ელ. ფოსტით 10 სამუშაო დღის განმავლობაში.
    </p>
    <h3> დამატებითი კითხვები?</h3>
    <p>
        თუ გაქვთ კითხვები მონაცემთა კონფიდენციალურობასთან ან წაშლის პროცესთან დაკავშირებით, დაგვიკავშირდით 
        <a href="mailto:support&#64;findhaus.ge">support&#64;findhaus.ge</a>
    </p>
</div>

<app-footer></app-footer>