
<app-nav></app-nav>
<main>

  <div class="canter" >
   <h1>განცხადებების განთავსების წესები</h1>
  </div>

  <h2>ჩვენს შესახებ</h2>
  <p>შპს „გეკ საქართველო“<br>
  საიდენტიფიკაციო კოდი: 447866006<br>
  ელ. ფოსტა: <a href="mailto:nfofindhous&#64;gmail.com">nfofindhous&#64;gmail.com</a><br>
  ცხელი ხაზი: +995 32 21 14 844</p>

  <p>ვებპლატფორმა საშუალებას აძლევს მომხმარებლებს განათავსონ და მოძებნონ განცხადებები ქონების, პროდუქციის ან მომსახურების შესაძენად ან გასაყიდად საქართველოს მასშტაბით.</p>

  <div class="contact-info">
    <strong>კომუნიკაციის არხები:</strong><br>
    ელ. ფოსტა: <a href="mailto:nfofindhous&#64;gmail.com">nfofindhous&#64;gmail.com</a><br>
    ცხელი ხაზი: +995 32 21 14 844
  </div>

  <h2>რეგისტრაციის წესები</h2>
  <ul>
    <li>რეგისტრაციისთვის საჭიროა მოქმედი ელ.ფოსტა ან მობილური ნომერი.</li>
    <li>მომხმარებელმა უნდა მიუთითოს მხოლოდ რეალური და საკუთარ საკუთრებაში არსებული მონაცემები.</li>
    <li>აკრძალულია სხვა პიროვნების მონაცემების მითითება ან შეურაცხმყოფელი სახელის გამოყენება.</li>
  </ul>

  <h2>მომხმარებლის პასუხისმგებლობები</h2>
  <p>განცხადებების გამოქვეყნება შესაძლებელია როგორც უფასოდ, ისე ფასიანად. არაეთიკური ქმედებები გამოიწვევს პროფილის დაბლოკვას ადმინისტრაციის მიერ.</p>

  <h2>ფასიანი სერვისის გაუქმების პირობები</h2>
  <ul>
    <li>ბლოკირების ან წაშლის შემთხვევაში, ფასიანი სერვისის თანხა არ ბრუნდება.</li>
    <li>ფასიანი სერვისი არ გადადის სხვა განცხადებაზე ან მომხმარებელზე.</li>
  </ul>

  <h2>პლატფორმის პასუხისმგებლობა</h2>
  <p>ვებსაიტი წარმოადგენს სარეკლამო პლატფორმას და არ იღებს პასუხისმგებლობას გარიგების შინაარსზე. სერვისით სარგებლობა ხდება მომხმარებლის პასუხისმგებლობით.</p>

  <h2>განცხადების განთავსების წესები</h2>

  <h3>1. დუბლირებული განცხადებები</h3>
  <ul>
    <li>ერთი და იგივე განცხადების რამდენჯერმე გამოქვეყნება აკრძალულია.</li>
  </ul>

  <h3>2. აკრძალული შინაარსი</h3>
  <ul>
    <li>შეიცავს კანონსაწინააღმდეგო ან შეურაცხმყოფელ ინფორმაციას;</li>
    <li>მედიკამენტები, სუროგაცია, ინტიმური მომსახურება, მაგია;</li>
    <li>სარეკლამო/ბმულების შემცველი განცხადებები სხვა პროდუქტზე;</li>
    <li>ფასიანი სატელეფონო ნომრები ან მომხმარებლის უფლების დარღვევა.</li>
  </ul>

  <h3>3. კატეგორიების შესაბამისობა</h3>
  <p>განცხადება უნდა განთავსდეს შესაბამის რუბრიკაში. არასწორი განთავსების შემთხვევაში ადმინისტრაცია იტოვებს უფლებას წაშალოს განცხადება.</p>

  <h3>4. ფოტო და ტექსტი</h3>
  <ul>
    <li>ფოტო უნდა შეესაბამებოდეს შინაარსს და არ უნდა შეიცავდეს ლოგოს ან საკონტაქტო მონაცემებს.</li>
    <li>საკონტაქტო მონაცემები უნდა მიუთითოთ მხოლოდ შესაბამის ველში.</li>
    <li>ტექსტში ბმულების ან სხვა ვებსაიტების მითითება აკრძალულია.</li>
  </ul>
   
</main>
<app-footer></app-footer>