@media (max-width: 1254px) {
    header{
      .HeaderCol{
      height: 63vh;
  
    }
    .HeaderBtnRow {
      gap: 6px ;
      button {
        padding: 0 20px;
      }
    }
    .HeaderSearch {
      padding: 15px 2px !important;
  
      form {
        gap: 11px;
        .select {
          width: 135px;
          padding: 2px 3px 2px 2px;
          .advanceS {
            padding: 7px;
          }
          select {
            width: 100% !important;
            padding: 12px 0px;
            background-color: transparent !important;
          }
        }
      }
      button {
        h5{
          font-size: 13px;
        }
      }
    }
    }
    //cards
    .popularPlaces {
      padding: 60px 2%;
  
      .cardPlace {
        gap: 14px;
        .CardAnimation {
          width: 300px;
          margin-bottom: 11px;
        }
      }
    }
    .featuredProperties {
      padding: 60px 2%;
      .cardPlace {
        padding: 15px 1px;
        gap: 15px;
        .propCard {
          width: 650px;
          .squareFlex {
            gap: 15px 3px;
            .element {
              gap: 9px;
              width: 110px !important;
              p {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 1000px) {
    .HeaderBtnRow {
      display: none !important;
    }
    .popularPlaces {
      padding: 30px 2% !important;
    }
    header{
      .HeaderCol{
        height: 57vh;
  }
    .featuredProperties {
      padding: 30px 1%;
      .cardPlace {
        gap: 10px;
        width: 100%;
        .propCard {
          width: 390px;
          height: 200px;
          .rightSide {
            padding: 17px;
            padding-right: 5px;
            padding-left: 7px;
            .squareFlex {
              gap: 8px 10px;
              padding: 10px 0;
              .element {
                width: 95px !important;
                img{
                    width: 15px;
                    height: 15px;
                }
                p {
                  font-size: 10px;
                }
              }
            }
            .CardFooterRow {
              padding-right: 8px;
              h1 {
                font-size: 0.9rem;
              }
              .iconRow {
                gap: 10px;
                img {
                  width: 15px;
                }
              }
            }
          }
          .leftSide {
            .FirstRow {
              button {
                font-weight: 600;
                font-size: 11px;
                padding: 7px 14px;
              }
            }
          }
        }
      }
    }
  }
  }
  @media screen and (max-width: 780px) {
 
  
    header{

      .featuredProperties {
        padding: 30px 2%;
        .cardPlace {
     
          .propCard {
            width: 90% ;
            height: 230px;
            .rightSide {
              gap: 9px;
              .squareFlex {
                gap: 5px 10px;
                padding: 6px 0;
                .element{
                 width: 110px  !important;
                  p{
                    font-size: 12px;
                  }
                }
              }
            }
          }
        }
      }
      padding-top: 30px;
      .HeaderCol{
        height: 63vh;
  
      }
      .HeaderCol{
        h3{
          font-size: 20px;
        }
        .headerP{
           line-height: normal;
            font-size: 11px;
        }
      }
      .HeaderSearch{
        form{
          gap: 5px;

        flex-direction: column;
        padding: 7px 12px;
          .select{
            width: 270px;
            border-radius: 6px;
            padding: 2px;
            select{
              padding: 10px 0;
              font-size: 12px;
            }
          }
          .advanceS{
            padding: 3px 10px;  
            h5{
              font-size: 11px;
            }
          }
          .submit{
            padding: 5px 15px;
            font-size: 11px;
            height: 39px;
            margin-right: 5px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 580px) {
    .popularPlaces {
      h1{
        font-size: 12px;
      }
      p{
        font-size: 10px;
      }
    }

header{


    .featuredProperties {
      padding: 30px 1%;
      .FH{
        font-size: 12px;
      }
      .FP{
        font-size: 10px;
      }
      .cardPlace {
  
        .propCard {
          flex-direction: column;
          align-items: center;
          gap: 1px;
          width: 260px;
          height: 380px;
          overflow: hidden;
        
          .leftSide {
            width: 100%;
            height: 50%;
             button{
              padding: 6px 14px;
              font-size: 10px;
             }

           
         
          }
          .rightSide {
            gap: 4px;
            padding: 12px;
         
            width: 100%;
            height: 50%;
         
            .squareFlex {
              padding: 5px;
              padding-left: 0px;
              gap: 4px;
              a {
                font-size: 0.8rem;
              }
              p {
                font-size: 10px;
              }
            }
            .CardFooterRow {
              display: flex;
              justify-content: space-between;
              width: 100%;
              padding-top: 10px;
              align-items: center;
              h1 {
                color: #333;
                font-size: 1.1rem;
                font-weight: 600;
              }
              .iconRow {
                display: flex;
                gap: 20px;
                align-items: center;
                .heart {
                  filter: contrast(0.1);
                }
              }
            }
          }
            
          
        }
      }
    }
  }
  }
  @media screen and (max-width:450px) {
    header{
      padding-top: 50px;
      .HeaderCol{
        height: 65vh;
      }
    .featuredProperties {
      padding: 30px 0.5%;
      .cardPlace {
        .propCard {
          .rightSide {
            .squareFlex {
              gap: 5px;
              padding: 0px;
              p{
                font-size: 10px;
              }
            }
          }
        }
      }
    }
  }
  }
  