
@keyframes moveUp {
  0% {
    top: 500px;
  }
  100% {
    top: 345px;
  }
  
}

@media screen and (max-width:750px){
    .advancedOpened{
      width: 99%;
      left: 3px;
      top: 67%;
      font-size: 13px;
      padding: 13px 10px;
    .mainFilter{
      padding: 40px 10px;
      gap: 15px;
      .rightChacks{
        .row{
          gap: 4px;
          align-items: center;
          label{
            font-size: 12px;
          }
          input[type="checkbox"] {
            width: 14px !important;
            height: 14px !important;
          }
        }
      }
    }
    }
    
  }
  @media screen and (max-width:500px){
    .advancedOpened{
      width: 99%;
      left: 50%;
       
      transform: translateX(-50%) !important;
      animation: moveUp 0.2s forwards;
      font-size: 12px;
      padding: 11px 5px;
      padding-top: 20px;
      box-shadow: 0 0 10px rgba(0,0,0,0.2); 
      .cover{
        top:-10px;
      }
      .selectRow{
        width: 94%;
      
        flex-direction: column;
        .selectParent{
          width: 100% !important;
        select{
                  -webkit-appearance: none;
  appearance: none;
  background: url('../../../assets/Imges/StaticImg/StaticIcons/caret-down-outline.svg') no-repeat right 10px center;
  background-size: 12px;
  padding-right: 18px;
  padding-left: 0;
          text-indent: 30px; 
        }
        }
       }
    .mainFilter{
      padding: 10px;
      padding-bottom: 30px;
      gap: 52px;
      width: 100%;
      flex-direction: column;
      .rightChacks{
     width: 100%;
        .row{
          gap: 4px;
  
          label{
            font-size: 10px;
          }
          input[type="checkbox"] {
            width: 11px !important;
            height: 11px !important;
          }
        }
      }


        .leftRange{
          width: 100%;
          align-items: center;
        }
      
  
    }
    }
    
  }