<main>
    <h3>{{staticElements.Header}}</h3>

    <form  [formGroup]="Form" (ngSubmit)="submit()">
        
        <div class="col" *ngFor="let el of inputText">
            <label for="{{el.label}}">{{el.label}}</label>
            <input formControlName="{{el.FormControlName}}" type="{{el.type}}" id="{{el.label}}" placeholder="{{el.placeholder}}">
        </div>
       <div class="col" *ngFor="let el of UserSelect">
           <label for="{{el.label}}">{{el.label}}</label>
           <select formControlName="{{el.FormControlName}}" id="{{el.label}}" (change)="change($event.target)">
                <option value="" disabled selected hidden>{{el.placeholder}}</option> 
               <option *ngFor="let option of el.options.dis let i =index" [value]="el.options.val[i]">{{option}}</option>
           </select>

       </div>
   
        <div class="col-100" *ngFor="let info of textArea">
            <label for="{{info.label}}">{{info.label}}</label>
            <textarea formControlName="{{info.FormControlName}}"  id="{{info.label}}" placeholder="{{info.placeholder}}"></textarea>
        </div>
        <label for="soc" style="width: 100%;">{{ Allnetworks.Header }}</label>
 
        <ng-container *ngIf="displayLinks">
          <div class="col" *ngFor="let item of Allnetworks.elements">
            <label for="{{item.name}}">{{item.value}}</label>
            <input type="text" id="{{item.name}}" placeholder="{{staticElements.placeholder}}" [formControlName]="item.FormControlHref">
          </div>
        </ng-container>
        
  
          <div class="row">

            <button type="submit">{{staticElements.submit}}</button>
            <span *ngIf="UserMessage.load" [ngClass]="{'error':UserMessage.error, 'succes':!UserMessage.error }">{{UserMessage.text}}</span>
          </div>
    </form>


</main>
