

    <form [formGroup]="passwordChangeForm" (ngSubmit)="changePassword()">
        <h3>{{staticData.header}}</h3>
        <div class="inputRow">
            <label for="current">{{staticData.pas}}</label>
            <input type="password" id="current" placeholder="{{staticData.pas}}" formControlName="dzveli_paroli">
        </div>
        <div class="inputRow">
            <label for="password">{{staticData.NewPas}}</label>
            <input type="password" id="password" placeholder="{{staticData.NewPas}}" formControlName="axali_paroli">
        </div>
        <div class="inputRow">
            <label for="Confirm">{{staticData.ConfPas}}</label>
            <input type="password" id="Confirm" placeholder="{{staticData.ConfPas}}" formControlName="axali_paroli_1">
        </div>
        <button type="submit">{{staticData.submit}}</button>
    </form>

