
@media screen and (max-width: 1340px) {

    nav {
      padding: 2% 5px;
    
      }
      ul {
        gap: 5px;
        .RightRow {
          gap: 10px;
        }
        .listing {
          width: 135px;
  
          h4 {
            font-size: 12px;
            width: 100%;
          }
          img {
            display: none;
          }
        }
        .navcol{

          li {
            
            p {
              font-size: 13px;
            }
            img{width: 20px !important;
              height: 20px !important;
            }
          }
          .bottomArrow {
            margin-left: 1px;
          }
        }
      }
    }
  
  @media screen and (max-width: 1070px) {
    nav {
      ul {
        gap: 10px;
        .Languages{
          .subMenu{
            width: 110px;
          }
        }
        .RightRow {
          p {
            display: none;
          }
        }
      }
      .FirstUl {
        gap: 0;
      }
      .leftNav {
        .navcontainer {
          .settings {
            gap: 15px;
          }
        }
      }
    }
  }
  
  @media screen and (max-width: 950px) {
    nav {
      .mobileresp{
        display: flex;
  
      }
      .pcresp{
        display: none;
      }
      .FirstUl {
        .burger:hover {
         background-color: unset;
         }
       } 
      ul{
        .row{
          .onClick{
          
            img{
              width: 19px;
              height: unset;
            }
            p{
              font-size: 13px;
              width: 40px;
            }
          }
        }
     width: 100%;
        justify-content: start;
        .Navicon{
          width: 38px;
          margin-right: 4px;
        }
        .navcol{
     position: fixed;
     left: 0;
      top: 0px;
      padding-top: 100px;

      display: flex;
      flex-direction: column;
      width: 300px;
      height: 100%;
      gap: 30px;
      align-items: start;
      justify-content: start;
      padding: 20px;
        background: #2a2a2a;

      border-top: 1px solid rgb(111 111 111 / 20%);
      border-bottom:1px solid rgba(94, 94, 94, 0.603);
      z-index: 10;
      span{
        border-bottom: 3px solid rgba(221, 221, 221, 0.2);
        width: 100%;
        padding: 10px 160px 5px 10px;
    
      }
      li{
        display: flex;
        align-items: center;
        justify-content: start;
        width: 100%;
        padding: 10px 5px;
          border-bottom: 1px solid #404040;
        p{
       
          font-size: 17px;
        }
      }
    
        }
        .cover{
          width: 50%;
          height: 100%;
          position: fixed;
          top: 0;
          left: 0;
          background: rgba(0, 0, 0, 0.5);
          z-index: 9;
          button{
            position: absolute;
          right: 150px;
          top: 30%;
          background: #4b4b4bb7;
          padding: 10px;
          border-radius: 50%;
          img{
            filter: invert(1) !important;
          }
          }
        }
      }

    }
    .nav{
  
      .navcol{
  
      border: 1px solid rgba(46, 46, 46, 0.2);
  
   li{
    color: white;
   }
      }
    }
    
  }
  
  
  @media screen and (max-width: 600px) {
    nav{
      padding: 3% 5px;
      height: max-content;
    .FirstUl{
      .Navicon{
        width: 30px;
        margin-left: 10px;
      }
      .burger{
        img{
          width: 24px !important;
          height: max-content !important;
        }
        .invert-burger{
       filter: invert(1) !important;
        }
      }
    }
  
    ul{
      gap: 5px;
      .cover{
        left: 248px;
      }
      .listing{
        padding: 10px 2px;
        width: 113px;
        font-size: 10px;
        height: unset !important;
        h4{
          font-size: 11px;
        }
      }
      .RightRow{
        gap: 5px;
        .circle{
          width: 30px;
          height: 30px;
        }
      }
      li{
           margin-bottom: 0;
           p{
            font-size: 12px;
          }
      }
      .row{
     
        .onClick{
          gap: 2px;
          .Globe{
            display: none;
          }
 
          p{
            font-size: 12px;
          }
        }
      }
      li{
        .menuBar{
          .mainPart{
            .row{
              a{
                font-size: 12px;
              }
              .ShowImg{
               
                  width: 13px !important;
                  height: 13px !important;
                
              }
           
            }
            .row:hover{
              margin-right:2px;
              .ArrowNav{
                left: 52%;
                top:101%;
                padding-left:3px;
                .forHover{
                  .aContainer{
                  a{
                    font-size: 10px;
                  }
                }
                }
              }
            }
          }
        }
      }
    }
    .mobileresp{
    
      .navcol{ 
    width: 250px;
    li{
     p {
        font-size: 14px;
        color: white;

    }
    img{
      filter: invert(1) !important;
    }
  }
  }
  }
  }
  }