

<main>
    <div class="row">
        გაზიარება
    </div>
<div class="card"><img [src]="ElementInfo.imgLink" alt=""> 
    <h4> <span>{{ElementInfo.price  | number:'1.0-0'}} {{ElementInfo.currency}} </span> <h3>{{ElementInfo.header}}</h3> <p>{{ElementInfo.location}}</p> </h4>  </div>

<div class="linkSquare" (click)="copyToUrl()">
    <span #linkText>{{ElementLink}}
</span>

</div>
<div class="shareRow">
        <button (click)="copyToUrl()"><img [src]="copyUrl" alt="copy Icon"></button>
 <button class="fb"  (click)="share('facebook')"><img src="../../../assets/Imges/StaticImg/StaticIcons/FacebookBlue.svg" alt="copy Icon"></button>
 <button  (click)="share('messenger')"><img src="../../../assets/Imges/StaticImg/StaticIcons/Messanger.svg" alt="copy Icon"></button>
<button  class="wt" (click)="share('whatsapp')"><img src="../../../assets/Imges/Header/CardImges/icons/whatsapp.svg" alt="copy Icon"></button>    
</div>
</main>
