<app-nav></app-nav>

<section class="privacy-policy">
  <h1>კონფიდენციალობის პოლიტიკა</h1>
  <p class="updated">ბოლო განახლება: 10.20.2024</p>

  <p>შპს „გეკ საქართველო“ (შემდგომში „კომპანია“, „ჩვენ“) პატივს სცემს თქვენი კონფიდენციალურობის უფლებებს და ზრუნავს თქვენი პერსონალური ინფორმაციის დაცვაზე.</p>

  <h2>1. შეგროვებული ინფორმაცია</h2>
  <ul>
    <li>პირადი ინფორმაცია: სახელი, ელ-ფოსტა, ტელეფონის ნომერი, IP მისამართი და სხვა საკონტაქტო დეტალები;</li>
    <li>უძრავი ქონების მონაცემები, რომელიც მომხმარებელი აქვეყნებს პლატფორმაზე;</li>
    <li>ლოკაციის ინფორმაცია (თუ მომხმარებელი თანხმდება);</li>
    <li>ვებსაიტის გამოყენების სტატისტიკური მონაცემები (cookies და ანალიტიკა).</li>
  </ul>

  <h2>2. როგორ ვიყენებთ ინფორმაციას</h2>
  <ul>
    <li>პლატფორმის ფუნქციონირებისთვის და მომსახურების გაუმჯობესებისთვის;</li>
    <li>მომხმარებელთან კომუნიკაციისთვის;</li>
    <li>უსაფრთხოების მიზნით და უკანონო ქმედებების თავიდან ასაცილებლად;</li>
    <li>სარეკლამო და მარკეტინგული მიზნებისათვის (მხოლოდ მომხმარებლის თანხმობით).</li>
  </ul>

  <h2>3. ინფორმაციის გაზიარება მესამე პირებთან</h2>
  <ul>
    <li>სამართლებრივი მოთხოვნის საფუძველზე;</li>
    <li>თქვენი თანხმობით;</li>
    <li>ტექნიკური მომსახურების მომწოდებლებთან, მხოლოდ საჭირო მოცულობით.</li>
  </ul>

  <h2>4. მონაცემთა დაცვა</h2>
  <p>ჩვენ ვიყენებთ შესაბამის ტექნიკურ და ორგანიზაციულ ზომებს თქვენი ინფორმაციის დასაცავად. თუმცა, ინტერნეტით გადაცემული მონაცემის 100%-იანი უსაფრთხოება ვერავინ უზრუნველყოფს.</p>

  <h2>5. Cookies და ანალიტიკა</h2>
  <p>ვებსაიტი იყენებს Cookies ფაილებს თქვენი გამოცდილების გასაუმჯობესებლად. თქვენ შეგიძლიათ ნებისმიერ დროს გამორთოთ Cookies ბრაუზერის მეშვეობით.</p>

  <h2>6. მომხმარებლის უფლებები</h2>
  <ul>
    <li>მოითხოვოთ წვდომა თქვენს მონაცემებზე;</li>
    <li>მოითხოვოთ მათ გამოსწორება ან წაშლა;</li>
    <li>უარი თქვათ გარკვეულ დამუშავებაზე;</li>
    <li>გაგზავნოთ სარჩელი პერსონალურ მონაცემთა დაცვის სამსახურში.</li>
  </ul>

  <h2>7. პოლიტიკის განახლება</h2>
  <p>ჩვენ შესაძლოა შევცვალოთ ეს პოლიტიკა დროდადრო. განახლებების შემთხვევაში, ცვლილებები აისახება ამ გვერდზე.</p>

  <h2>8. კონტაქტი</h2>
  <p>თუ გაქვთ კითხვები ან შენიშვნები კონფიდენციალურობის პოლიტიკასთან დაკავშირებით, დაგვიკავშირდით შემდეგ მისამართზე:</p>
  <ul class="contact-info">
    <li class="email">ელ-ფოსტა: <a href="mailto:infofindhous&#64;gmail.com">infofindhous&#64;gmail.com</a></li>
    <li class="phone">ტელეფონი: <a href="tel:+995322114844">+995 32 21 14 844</a></li>
  </ul>
  <h2 class="link" routerLink="/DeletePolicy" style="cursor: pointer;">9. მომხმარებლის მონაცემების წაშლა</h2>
</section>
<app-footer></app-footer>