<app-nav></app-nav>
<main>
    <form>
        <div class="forgot-password-container" *ngIf="Pages=='Email'" >
            <h1>{{forgotPassword.title}}</h1>
            <p>{{forgotPassword.description}}</p>
            <div class="input-group">
                <label for="email">{{forgotPassword.emailLabel}}</label>
                <input type="email" id="email" name="email" placeholder="{{forgotPassword.emailPlaceholder}}" required [(ngModel)]="email">
            </div>
            <button type="submit" (click)="onSubmit()" >{{forgotPassword.submitButton}}</button>

            @if(showError) {
                <div class="error">{{forgotPassword.errorMessage}}</div>
            }
        
        </div>

        <div class="codePage" *ngIf="Pages=='Code'">
            <h1>{{forgotPassword.codeTitle}}</h1>
            <p>{{forgotPassword.codeDescription}}</p>
            <div class="input-group">
                <label for="code">{{forgotPassword.codeLabel}}</label>
                <input type="text" id="code" name="code" placeholder="{{forgotPassword.codePlaceholder}}" required [(ngModel)]="inputCode">
            </div>
            <button type="submit" (click)="onCodeSubmit()">{{forgotPassword.codeButton}}</button>
            <a (click)="onSubmit()"> {{forgotPassword.SendCodeAgein}} </a>
            @if(showError) {
                <div class="error">{{forgotPassword.codeErrorMessage}}</div>
            }

            
            
        </div>
        <div class="ResetPassword" *ngIf="Pages=='ResetPassword'">
            <h1>{{forgotPassword.resetPasswordTitle}}</h1>
            <p>{{forgotPassword. resetPasswordDescription}}</p>
            <div class="input-group">
                <label for="newPassword">{{forgotPassword.resetPasswordLabel}}</label>
                <input type="password" id="newPassword" name="newPassword" placeholder="{{forgotPassword.resetPasswordPlaceholder}}" required [(ngModel)]="newPassword">
            </div>
            <div class="input-group">
                <label for="confirmPassword">{{forgotPassword.resetPasswordConfirmLabel}}</label>
                <input type="password" id="confirmPassword" name="confirmPassword" placeholder="{{forgotPassword.resetPasswordConfirmPlaceholder}}" required [(ngModel)]="confirmNewPassword">
                @if(showError) {
                    <div class="error">{{forgotPassword.resetPasswordErrorMessage}}</div>
                }
            </div>
            <button type="button" (click)="onResetSubmit()">{{forgotPassword.resetPasswordButton}}</button>

        </div>

        <div class="success-message" *ngIf="Pages=='Success'">
            <p >{{forgotPassword.successTitle}}</p>
            
        </div>
    </form>
</main>
