 
<div class="cover" ></div> 
<app-nav/>
<app-header/>

<main >
<!-- <div class="whyChoose">
 <div class="headerTextChoose">
     <h2>{{Languages.main.AgentsH}}</h2>
       <p>{{Languages.main.AgentsP}}</p>
    </div>
       <div class="WhyCardRow ">
        <div class="whyCard" *ngFor="let card of WhyCards let i=index" [ngStyle]="{'animation-delay': (i * 0.2) + 's'}" [ngClass]="{'FadeInUp':scrollY>1520}"  ><img src="{{card.Img}}" alt="{{card.alt}}"> <h3>{{card.HText}}</h3> <p>{{card.PText}}</p></div>
 </div>

</div> -->

<div class="popularProperties">

    <h2  class="PH2" [ngClass]="{'FadeInUp': scrollY >1750 }">{{Languages.main.popularPropertys}}</h2>
    <p class="PP" [ngClass]="{'FadeInUp': scrollY >1740 }">{{Languages.main.AgentsP}} </p>
    <div class="scrollParent">
    <div class="cardParent" #cardParent
    (mousemove)="popularDrag($event)" (mousedown)="popularDragStart($event)" 
    (mouseleave)="popularDragEnd($event)" (mouseup)="popularDragEnd($event)"
    >

        <div class="propCard"  *ngFor="let info of DiscoverPopularPlaces let i=index"
        [ngStyle]="{'animation-delay': (i * 0.2) + 's'}"
        [ngClass]="{'FadeInUp': scrollY >1960  }"
        >
            <div class="leftSide" [ngStyle]="{'background-image': 'url(' + info.imgLink + ')'}">

                <div class="FirstRow">
                    <button name="featured" [ngClass]="{'dNone':info.featuredBtn==false}">{{Languages.featuredPropertiesStatic.featured}}</button>
                    <button name="status"   class="whiteBg">{{info.For}}</button>
                    
                </div>
                  <div class="SecondRow">
                    <!-- <button><img class="link" src="../../assets/Imges/Header/CardImges/icons/link.svg" alt="shareIcon"></button> -->
                    <button name="video" *ngIf="info.video!=''"><img src="../../assets/Imges/Header/CardImges/icons/camera-video.svg" alt="videoIcon"></button>
                    <!-- <button><img src="../../assets/Imges/Header/CardImges/icons/img.svg" alt="imgIcon"></button> -->
                  </div>
            </div>
            <div class="rightSide">
                <a  (click)="navigate(info.gncxdebis_idi)" >{{info.header}}</a>
                <p><img src="../../assets/Imges/Header/CardImges/icons/Location.svg" alt="">{{info.location}} </p>
                <div class="squareFlex" (click)="navigate(info.gncxdebis_idi)">

                <div class="element"><img src="../../assets/Imges/Header/CardImges/icons/bedroom.svg" alt=""><p>{{info.bedrooms}} {{Languages.featuredPropertiesStatic.BedRooms}}</p></div> 
                <div class="element"><img src="./../../assets/Imges/Header/CardImges/icons/bathtub.svg" alt=""><p>{{info.bathrooms}} {{Languages.featuredPropertiesStatic.BathRooms}}</p></div> 
                <div class="element"><img src="./../../assets/Imges/Header/CardImges/icons/triangular-ruler.svg" alt=""><p>{{info.area}} {{Languages.featuredPropertiesStatic.Area}}</p></div> 
                <div class="element"><img src="./../../assets/Imges/Header/CardImges/icons/car.svg" alt=""><p>{{info.garages}} {{Languages.featuredPropertiesStatic.Garage}}</p></div>
            </div>
            <div class="CardFooterRow">

                
                <h1>{{info.price | number:'1.0-0' }}{{info.currency}}  </h1> 
                <div class="iconRow">  
                  <div class="currency-toggle"    (click)="toggleAllCurrencies(info.currency , false) ">
  <button
    class="toggle-option"
    [class.active]="info.currency === '₾'"
    namme="toggleGEL"
  >
    ₾ 
  </button>
  <button 
    name="toggleUSD"
    class="toggle-option"
    [class.active]="info.currency === '$'"

  >
    $
  </button>
  <div class="indicator" [class.right]="info.currency === '$'"></div>
</div>
 <img [src]="heartimgLinks[i]"  (click)="saveToFav(i , info)" alt=""></div>
            </div>
            </div>
        </div>

    </div>
    <div class="btnRow" >
        <button *ngFor="let i of PropButtons; let index = index" [ngClass]="{'active': i.class }" name="propButton" (click)="buttons(false , index)"  [ngStyle]="{'animation-delay': (index * 0.05) + 's'}"
        >
        </button>
    </div>
</div>

</div>


<div class="Agents" id="Agents">
    <h3 class="AHeader">{{Languages.main.AgentsH}}</h3>
    <p class="AP">{{Languages.main.AgentsP}}</p>
    <div class="cardParent">

        <div class="cardTypeAgent" [ngStyle]="{'animation-delay': (i * 0.2) + 's'}" [ngClass]="{'FadeInUp':scrollY>2300}"   *ngFor="let AgentInfo of AgentsInfo let i =index">
            <div class="Top"><img src= {{AgentInfo.imgLink}}  alt="{{AgentInfo.mainalt}}"> 
                <div class="ShareRow"><a  *ngFor="let Info of AgentInfo.sociaslLinks" href="{{Info.href}}" target="_blank"><img src={{Info.IconLink}} alt="{{Info.alt}}"></a>
             
            </div></div>
            <div class="bottom" (click)="displayAgent(AgentInfo)"><h3>{{AgentInfo.Name}}</h3><p>{{AgentInfo.status}} {{Languages.main.Agents}}</p>

                <button name="view more ">{{Languages.main.AgentsB}}</button>
            </div>

        </div>
    </div>
</div>
<div class="Reviews" *ngIf="ReviewsData.length > 0">
    <h1 class="HText">{{Languages.main.RHeader}}</h1>
    <p class="HP">{{Languages.main.Rptext}}</p>
<div class="ForOverflow">
    <div #RCard class="cardPlace" #cardPlace (mouseup)="onDragEnd()"  (mousedown)="onDragStart($event)" (mousemove)="onDrag($event)" >
        <div class="ReviewCard"  *ngFor="let review of ReviewsData let i=index" [ngStyle]="{'animation-delay': (i * 0.2) + 's'}" [ngClass]="{'FadeInUp':scrollY>3000}">
            <div class="Top"><p>{{review.Review}}</div>
             <div class="Bottom"><span><img src="{{review.imgLink}}" alt="profile image"></span><div class="col"><h3>{{review.Name}}</h3> <p><span> {{review.Place}}</span> <img src="../../assets/Imges/StaticImg/StaticIcons/star-fill.svg" alt="Star"></p></div> <img class="STATICiCON" src="../../assets/Imges/StaticImg/quoe.png" alt=",,"></div>
            </div>
        </div>

</div>
<div class="btnRow">
    <button class="LeftBtn" name="Left" (click)="ReviewMover($event)" ><img class="Left" src="../../assets/Imges/StaticImg/StaticIcons/chevron-left.svg" alt="left Arrow"></button>
    <button class="RightBtn" name="right" (click)="ReviewMover($event)" ><img class="Right" src="../../assets/Imges/StaticImg/StaticIcons/chevron-right.svg" alt="right Arrow"></button>
</div>
</div>
<!-- <app-partners-footer/> -->
<app-footer/>
</main>


