
<nav>
    <ul class="FirstUl mobileresp" >
        <li   (click)="showResponsiveNav()" ><img [src]="showRespNav.iconSrc" class="{{showRespNav.bool}} burger" alt="Burger"></li> 
       
        <div class="navcol" *ngIf="showRespNav.bool"  @slideInOut>
            <span routerLink="/"><img src="../../assets/Imges/NavImg/NavIcon1.svg" alt=""></span>
            <li routerLink="/"><p>{{staticElements.Home}}  </p> 
                <div class="menuBar">
                    <div class="mainPart">
                    <div class="row" *ngFor="let i of this.NavElements.Home"><a  href="">{{i.a}}</a> <img src="../../assets/Imges/NavImg/right-arrow.svg" [ngClass]="{'ShowImg':i.Showimg==true}" alt="">
                        <div [ngClass]="{'ArrowNav':i.Showimg==true,'DNone':i.Showimg==false}"><div class="forHover">
                            <div class="aContainer" *ngFor="let subElement of i.subText">
                                <a  >{{subElement}}</a> </div>
                            </div>
                        </div>
                
                    </div>
                    </div>
                </div>
            
            </li>
            <li routerLink="/allCards" ><p>{{staticElements.Property}}</p>
                <div class="menuBar">
                    <div class="mainPart">
            <div class="row" *ngFor="let i of this.NavElements.Property"><a href="">{{i.a}}</a> <img src="../../assets/Imges/NavImg/right-arrow.svg" [ngClass]="{'ShowImg':i.Showimg==true}" alt="">  
                <div [ngClass]="{'ArrowNav':i.Showimg==true,'DNone':i.Showimg==false}"><div class="forHover">
                    <div class="aContainer" *ngFor="let subElement of i.subText">
                        <a href="" >{{subElement}}</a> </div>
                    </div>
                </div>
        </div>
                    </div>
                </div>
            </li>
            <li><p>{{staticElements.Pages}}</p> <img src="../../assets/Imges/NavImg/BottomArrow.svg" alt="Arrow">
                <div class="menuBar">
                    <div class="mainPart">
                        <div class="row">
                            <a >{{this.NavElements.Pages[0].a}}</a> <img src="../../assets/Imges/NavImg/right-arrow.svg" [ngClass]="{'ShowImg':this.NavElements.Pages[0].Showimg==true}" alt="arrow">
                            <div [ngClass]="{'ArrowNav':this.NavElements.Pages[0].Showimg==true,'DNone':this.NavElements.Pages[0].Showimg==false}"><div class="forHover">
                                <div class="aContainer" [routerLink]="this.NavElements.Pages[0].route"   *ngFor="let subElement of this.NavElements.Pages[0].subText">
                                    <a (click)="uploadToLocal(subElement.value)" >{{subElement.text}} </a> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <!-- <li><p>{{staticElements.Blog}}</p> <img src="../../assets/Imges/NavImg/BottomArrow.svg" alt="Arrow">
                <div class="menuBar">
                    <div class="mainPart">
                    <div class="row" *ngFor="let i of this.NavElements.Blog"><a href="">{{i.a}}</a> <img src="../../assets/Imges/NavImg/right-arrow.svg" [ngClass]="{'ShowImg':i.Showimg==true}" alt="">
                        <div [ngClass]="{'ArrowNav':i.Showimg==true,'DNone':i.Showimg==false}"><div class="forHover">
                            <div class="aContainer" *ngFor="let subElement of i.subText">
                                <a href="" >{{subElement}}</a> </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div></li> --> 
                <li routerLink="/Companies" >
                    <p>{{staticElements.companies}}</p>
                </li>

            <li class="contact"  routerLink="/contact"><p>{{staticElements.Contact}}</p></li>
      
       
    
        </div>
               <div class="cover" (click)="showResponsiveNav()" *ngIf="showRespNav.bool">
            <button><img src="../../../assets/Imges/StaticImg/StaticIcons/chevron-left.svg" alt=""></button>
        </div>
       </ul>
    <ul class="FirstUl pcresp">  
        <img class="icon"  src="../../assets/Imges/mainLogo.svg" alt="Logo">
        <li routerLink="/"><p>{{staticElements.Home}}</p>
            <div class="menuBar">
                <div class="mainPart">
                <div class="row" *ngFor="let i of this.NavElements.Home"><a href="">{{i.a}}</a> <img src="../../assets/Imges/NavImg/right-arrow.svg" [ngClass]="{'ShowImg':i.Showimg==true}" alt="">
                    <div [ngClass]="{'ArrowNav':i.Showimg==true,'DNone':i.Showimg==false}"><div class="forHover">
                        <div class="aContainer" *ngFor="let subElement of i.subText">
                            <a href="" >{{subElement}}</a> </div>
                        </div>
                    </div>
            
                </div>
                </div>
            </div>
        </li>
      
        <li routerLink="/allCards"><p>{{staticElements.Property}}</p>
            <div class="menuBar">
                <div class="mainPart">
        <div class="row" *ngFor="let i of this.NavElements.Property"><a href="">{{i.a}}</a> <img src="../../assets/Imges/NavImg/right-arrow.svg" [ngClass]="{'ShowImg':i.Showimg==true}" alt="">  
            <div [ngClass]="{'ArrowNav':i.Showimg==true,'DNone':i.Showimg==false}"><div class="forHover">
                <div class="aContainer" *ngFor="let subElement of i.subText">
                    <a href="" >{{subElement}}</a> </div>
                </div>
            </div>
    </div>
                </div>
            </div>
        </li>
        <li><p>{{staticElements.Pages}}</p> <img src="../../assets/Imges/NavImg/BottomArrow.svg" alt="Arrow">
            <div class="menuBar">
                <div class="mainPart">
                    <div class="row" *ngFor="let i of this.NavElements.Pages"     [ngClass]="{'DNone':i.chack=='Register'||i.chack=='Login'  } ">
                        <a [routerLink]="i.RouterLink">{{i.a}}</a> <img src="../../assets/Imges/NavImg/right-arrow.svg" [ngClass]="{'ShowImg':i.Showimg==true}" alt="arrow">
                        <div [ngClass]="{'ArrowNav':i.Showimg==true,'DNone':i.Showimg==false}"><div class="forHover">
                            <div class="aContainer" [routerLink]="i.route"   *ngFor="let subElement of i.subText">
                                <a (click)="uploadToLocal(subElement.value)" >{{subElement.text}} </a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <!-- <li><p>{{staticElements.Blog}}</p> <img src="../../assets/Imges/NavImg/BottomArrow.svg" alt="Arrow">
            <div class="menuBar">
                <div class="mainPart">
                <div class="row" *ngFor="let i of this.NavElements.Blog"><a href="">{{i.a}}</a> <img src="../../assets/Imges/NavImg/right-arrow.svg" [ngClass]="{'ShowImg':i.Showimg==true}" alt="">
                    <div [ngClass]="{'ArrowNav':i.Showimg==true,'DNone':i.Showimg==false}"><div class="forHover">
                        <div class="aContainer" *ngFor="let subElement of i.subText">
                            <a href="" >{{subElement}}</a> </div>
                        </div>
                    </div>
                </div>
                </div>
            </div></li> -->
            <li routerLink="/Companies" >
                <p>{{staticElements.companies}}</p>
            </li>
        <li class="contact" routerLink="/contact"><p>{{staticElements.Contact}}</p></li>
    
    </ul>
    <ul>
        <li class="row"> <div class="onClick" (click)="displayLanguages()"><img src="../../../assets/Imges/NavImg/globeBlack.svg" alt="">
            <p>{{chosenLang}}</p> 
            <img class="bottomArrow" src="../../assets/Imges/NavImg/arrow-bottom-4.png" alt="">
        </div>
        <div class="subMenu" [ngClass]="{'DNone':showLanguages==false}">
            <a *ngFor="let lang of navLang let i=index" (click)="chosenLanguage(i)">{{lang}}</a>
        </div>
         </li>
                 <li class="RightRow" (click)="displayEl()" ><div class="circle"><img src="{{SignedIn.imgLink}}" alt="Profile img"><div class="activebtn"></div></div> <p>{{SignedIn.Name}}</p> <img class="bottomArrow" src="../../assets/Imges/NavImg/arrow-bottom-4.png" alt="Arrow Icon"> </li>
                 <div class="SubNav" [ngClass]="{DNone: displayElement==false}"><a *ngFor="let el of ProfileSettings"  (click)="profileSettings(el.value)">{{el.Text}}</a></div>
    </ul>
</nav>
<div class="leftNav" > 
 <div class="logo" routerLink="/"><img src="../../assets/Imges/mainLogo.svg" alt=""></div>
 <div class="leftNavIconClose" *ngIf="showLeftNav" (click)="showLeftNav=!showLeftNav"><img src="../../../assets/Imges/StaticImg/StaticIcons/chevron-left.svg" alt=""> </div>
<div class="navcontainer">
  <div class="profileImg">
    <img src="{{SignedIn.imgLink}}" alt="">
    <h4>{{SignedIn.Name}}</h4>
  </div>

  <div class="settings">
   <div class="links" *ngFor="let el of LeftNavInfo"  (click)="activedPage(el.upText)" [ngClass]="{'active': el.upText === activeElement}" >
       <a><img src="{{el.icon}}" alt=""><span>{{el.Text}}</span></a>

   </div>

  </div>
</div>
</div>
<div class="leftNavIcon" (click)="showLeftNav=!showLeftNav"><img src="../../../assets/Imges/StaticImg/StaticIcons/align-left-solid.svg" alt=""><h3>Dashboard Navigation</h3>
<div class="navSelect"[ngClass]="{'DNoneresp':!showLeftNav , 'upAnimation':showLeftNav}">
    <li  *ngFor="let el of LeftNavInfo" (click)="activedPage(el.upText)"  ><img src="{{el.icon}}" alt="{{el.icon}}"><a>{{el.Text}}</a></li>
</div>
</div>


<div class="navcover" (click)="showLeftNav=!showLeftNav" *ngIf="showLeftNav"></div>
