@use '../../../styles.scss' as *;

@keyframes fadeIn {
  0% {
    opacity: 0;
  top: -20px;
  }
  100% {
    opacity: 1;
  top: 0;
  }
}
::ng-deep app-nav nav {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
}

::ng-deep .container .leftSide * h2 {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
}
::ng-deep .container * main {
  border-radius: 6px;
  padding: 1.5rem;
  min-height: 26vh;
  background: #ffffff;
  position: relative;
  @include flex-container(column, flex-start, flex-start, 2rem);
  border: 1px solid #eaeff5;
  box-shadow: 0px 0px 2px #e7e7e7;
}
::ng-deep .container .rightSide h3:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;

  margin: 10px 0;
  border-bottom: 1px solid #eaeff5;
}
::ng-deep .container .rightSide h3 {
  width: 100%;
  color: #222;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

::ng-deep .container .leftSide * h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background: #ff385c;
  margin-top: 10px;
}

.container {
  overflow-x: hidden;
  background: #f5f7fb;
  width: 100%;
  min-height: 100vh;
  padding: 0 6%;
  padding-top: 150px;
  @include flex-container(row, center, flex-start, 50px);
  .leftSide {
    @include flex-container(column, center, center, 20px);
    width: 65%;
    > * {
      width: 100%;
      margin-bottom: 20px;
    }
    .description {
      width: 100%;
      padding: 1.5rem !important;
      background: #fff;
      border: 1px solid #eaeff5;
      box-shadow: 0px 0px 2px #e7e7e7 !important;
      border-radius: 2px;
      min-height: 20vh;
      margin-top: 30px;
      position: relative;
      @include flex-container(column, start, start, 35px);
      p {
        color: #666;
        font-weight: 400;
        font-family: "Lato", sans-serif;
        font-size: 15px;
        line-height: 1.7;
      }
    }
  }
  .rightSide {
    width: 35%;
    @include flex-container(column, center, center, 20px);
    > * {
      width: 100%;
      margin-bottom: 20px;
    }

    app-profile {
      width: 100%;
    }
  }
}


@import './detailed-Responsive.scss';