@mixin flex($direction:row  ,$justify: center, $align: center, $gap: 0) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}
@keyframes vibration {
    0% {
        transform: translate(0, 0);
    }
    10% {
        transform: translate(-1px, 1px) rotate(-1deg);
    }
    20% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    30% {
        transform: translate(-1px, -1px) rotate(0);
    }
    40% {
        transform: translate(1px, 1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 1px) rotate(-1deg);
    }
    60% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    70% {
        transform: translate(-1px, -1px) rotate(0);
    }
    80% {
        transform: translate(1px, 1px) rotate(-1deg);
    }
    90% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    100% {
        transform: translate(0, 0);
    }
}


.el{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #666;
    position: relative;
    width: 100%;
    height: 300px;
    background: #fff;
    box-shadow: 0px 0px 2px #e7e7e7 !important;
    padding: 25px;

    @include flex(column, start, center, 20px);
h3{

  
    img{
        margin-right: 20px;
    }
}
    .inputRow{
        width: 100%;
     @include flex(row, space-between, center);
     input{
        padding: .3rem;
        width: 47%;
        text-align: center;
    border: 1px solid #dddddd;
    background-color: transparent;
    font-size: 0.9rem;
    font-weight: 400;
    color: #495057;
     }
     
    }
    .amountText{
        width: 100%;
        padding-right: 70px;
        
        @include flex(row, space-between, center,);
       
        font-size: 1.2rem;
        font-weight: 600;
        color: #222;
        text-align: center;
        span{
            color: #000;
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
        }
    }
    .amountInput{
        width: 100%;
        position: relative;
        @include flex(row, space-between, center);
    
        .custom-number-input{
            @include flex(row, start, center);
            width: 45%;
            button{
                padding: 5px;
                transition: all 0.3s ease;
                background-color: transparent;
                border: unset;
                @include flex(row, center, center);
                cursor: pointer;
                img{
                    width: 20px;
                    height: 20px;
                
                }
            }
            button:hover{
            border-radius: 4px;
                transition: all 0.3s ease;
                background-color: #FF385C;  
                img{
                    filter: brightness(0) invert(1);
                }
            }
            
        input{
            width: 23.5px;
            padding: 0 !important;
           border: unset;
        margin-left: 14px;
           font-size: 1rem;
           font-weight: 400;
             
           color: #495057;
           background-color: transparent;

        }
   } 
}

input[type="submit"] {
    color: #fff;
    background: #FF385C;
    width: 100%;
    padding: 10px 30px;
    border-radius: 3px;
    border: unset;
}

}


.uniter {

    position: absolute;
    right: 15%;
    bottom: 16%;
    color: #555;
    width: 110px;
    height: 110px;
    z-index: 3;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0 0 0 1px #e8212a, 0 0 0 8px rgba(0, 0, 0, 0.05);
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    .time {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .timeH {



            cursor: pointer;
            font-size: 1.4em;
            color: #555;
            font-weight: bold;
        }

        .timeM {


            cursor: pointer;
            font-size: 1.4em;
            color: #555;
            font-weight: bold;
        }

        .active {
            color: #e8212a;
        }

    }

    .circle {

        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0);
        position: absolute;
        top: 5px;
        left: 5px;
    }

    .Outer {

        position: absolute;
        height: 100px;
        width: 100px;

        z-index: -1;
        border: 1px solid rgba(255, 0, 0, 0.396);

        img {



            -webkit-user-drag: none;
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            top: -4px;
            object-fit: contain;

            width: 60%;
        }

        img:active {
            cursor: none;

        }

        .hourline {
            width: 20%;
            height: 2px;
            position: absolute;
            top: 50%;
            left: 50%;


            background-color: #e4d2d3;
        }
    }

    .imgparent{
animation: vibration 1.5s infinite;
    }
    .imgparent:active{
        animation: none;
    }

    .icon {
        cursor: pointer;

        position: absolute;
        top: -16px;
        left: 38px;
        width: 26px;
        height: 26px;
        background: #FFF;
        box-shadow: 0 0 0 1px #e8212a;
        z-index: 10;
        transform: rotate(-45deg);

        border-radius: 60px;
        border-bottom-left-radius: 0;
    }

    .Outer2 {

        background: transparent;
        position: absolute;
        height: 100px;
        width: 100px;

        z-index: -1;


        img {



            -webkit-user-drag: none;
  
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            top: -4px;
            object-fit: contain;

            width: 60%;
        }

        img:active {
            cursor: none;

        }
    }

    .icon2 {
        cursor: pointer;

        position: absolute;
        top: -16px;
        left: 38px;
        width: 26px;
        height: 26px;
        background: #FFF;
        box-shadow: 0 0 0 1px #e8212a;
        z-index: 100;
        transform: rotate(-45deg);

        border-radius: 60px;
        border-bottom-left-radius: 0;
    }

    .minline {
        width: 30%;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;



        background-color: #eedcdd;
    }
}
.uniter::before{
    position: absolute;
    content: "";
    top: -10px;
    margin-left: -10px;
    left: 50%;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background: #ffffff;

    border-top: 1px solid  #e8212a;
    border-left: 1px solid  #e8212a ;
    border-top-left-radius: 4px;
    z-index: -10;
}
.DN {
    display: none;
}

.dayNight {
    position: absolute;
    font-weight: bold;
    font-size: .8em;
    color: #555;
    opacity: 1;
}

.day {
    bottom: 100%;
    transition: 1s;
}

.evening {
    bottom: -100%;
    transition: 1s;
}
