// Mixins for reusable styles


$primary-color: #FF385C;
@mixin flex-center($direction: row, $gap: 0px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
    gap: $gap;
  }
  
  @mixin box-shadow($x: 0px, $y: 0px, $blur: 0px, $spread: 0px, $color: rgba(255, 255, 255, 0.2)) {
    box-shadow: $x $y $blur $spread $color;
  }
  @mixin bodyFont(){
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #666;
  }
  

  @mixin input-style($width: auto, $padding: 5px 20px, $font-size: 15px) {
    width: $width;
    padding: $padding;
    border: 0px ;
    border-radius: 7px;
    font-size: $font-size;
    outline: none;
  }
  
  @mixin select-style($padding: 12.5px 25px, $font-size: 15px, $color: #666) {
    width: 210px;
    padding: $padding;
    font-size: $font-size;
    color: $color;
    cursor: pointer;
    outline: none;
    border: none;
    font-family: inherit;
  }
  @mixin flex-container($direction: row, $justify: flex-start, $align: stretch) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
@keyframes pulldown {
  0% {
    opacity: 0;
    transform:scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
  
.activeimg{

  background-color: black !important;
 img{
  filter: invert(1);
 }

}
  main{
    width: 100%;
    padding:0 180px;
 @include flex-container(column, center , start );
 gap: 40px;
 .topSide{
h4{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #666;
span{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #333;
    margin-left: 5px;
    cursor: pointer;

}
  }
h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #222;
    padding-top: 10px;
    text-transform: capitalize;
    font-size: 28px;
}
 }
}
  .HeaderSearch {
    @include flex-center(row, 10px);
    position: relative;

    width: 100%;


    border-radius: 9px;
    @include box-shadow(0px, 0px, 0px, 8px);
  
    form {
      @include flex-container(row, start,center);
      gap: 10px;
      flex-wrap: wrap;
      width:100%;
    }
  
    // Input fields styling
    input[type="text"] {
      @include input-style(250px); // Setting width to 255px for text input
      height: 45px;
    }
  
    
    // Select fields styling
    select {
      @include select-style();
      border: 1px solid #ebebeb;
      border-radius: 6px;
   
    }

    .advanceS {
      @include flex-center(row, 9px);
      padding: 11.7px 20px;
      width: 220px;
      border: 1px solid #ebebeb;
      border-radius: 8px;
      background-color: #ffffff;
      white-space: nowrap;
      cursor: pointer;
  
      h5 {
        font-family: 'Lato', sans-serif;
        font-size: 13px;
        font-weight: 400;
        color: #666;
      
      }
  
   
    }
  
    .submit {
      @include flex-center();
      width: 200px;
      height: 45px;
      padding: 10px 15px;
      margin-right: 15px;
      border: none;
      border-radius: 5px;
      background: #ff385c;
      cursor: pointer;
      color: white;
      font-size: 13px;
      font-weight: 600;
      @include box-shadow(0px, 1px, 4px, 0px, rgba(255, 90, 95, 0.3));
      text-align: center;
      letter-spacing: 0.4px;
    }
  }
  .bottomLine{
    width: 98%;
    @include flex-container(row,space-between,center );
    h4{
      font-weight: 700;
      color: #666;
      font-size: 15px;
     }
    .Sorting{
      position: relative;

      @include flex-container(row,center ,center );
      gap: 10px;
   
      .options{
        position: absolute;
        top: 102%;
        opacity: 0;
    z-index: 99;
    width: auto;
    height: max-content;
        animation: pulldown 0.5s forwards;
 @include box-shadow(0, 0, 0, 1, rgba(68, 68, 68, 0.11) );
 @include flex-container(column,center ,start );
 
        background-color: #fff;
        border-radius: 5px;
        padding: 10px 0;
        h3{
          width: 100%;
          padding:10px 15px;
          font-weight: 600;
          color: #495057;
          font-weight: 400;
          font-size: 1rem;
          cursor: pointer;

        }
        h3:hover{
          background-color:#238AC1;
          color: #fff;
        }
        .active{
        font-weight: bold;
        }
      }
   img{
    width: 14px; 
    opacity: 0.65;
    transform: rotate(0deg);
    transition: 0.3s;
   }
   .rotate{
    transition: 0.4s;
    transform: rotate(180deg);
  }
   h3{
    font-weight: 600;
    color: #495057;
    font-size: 1rem;
   }
 
    
    }
    .sorter{
      .sP{
        @include flex-container(row, center , center );
        cursor: pointer;
      }
      @include flex-container(row, center , center );
     
 
      p{
        font-size: 15px;
        color: #495057;
      }
      img{
        width: 34px;
        opacity: 0.5;
      
      }
      button{
        color: #495057;
        border: 1px solid #121B22;
        padding: 5px 9px;
        border-radius: 2px;
        cursor: pointer;
        background: transparent;
        margin-left: 8px;
        width: 35px;
        height: 31px;
        @include flex-center(row, 0);
        img{
          width: 90%;
         
          opacity: 1;
        }
      }

    }
  }
 
  .advancedOpened{
    position: absolute;
    top: 100%;
  padding: 25px;
    z-index: 99;
    animation: pulldown 0.5s forwards;
    
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    @include bodyFont();
    margin-top: 22px;
    background: #fff;
    width: 98%;
    @include flex-container(column,center ,center );
    height: max-content;
   
     .selectRow{
      position: relative;
      width: 100%;
    @include flex-center(row, 20px);
    .selectParent{
      width: 48% !important;
    position: relative;
    }
    select{
      padding-left: 40px;
 width: 100% !important;
    }
    select:hover{
      color: $primary-color;
    }
    
.simg{
  position: absolute;
  width: 20px;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  height: 20px;
  filter: opacity(0.7);
}
     }
     .mainFilter{
      width: 100%;
      position: relative;
      @include flex-center(row, 20px);
      padding: 50px;
       .rightChacks{
display: grid;
grid-template-columns: 1fr 1fr;
         width: 50%;
         gap: 10px;
         .row{
   display: flex;
   flex-direction: row-reverse;
   justify-content: start;
   gap: 8px;
   label{
@include bodyFont();
   }
         }

        }
        .leftRange{
          display: flex;
          flex-direction: column;
          gap: 60px;
        position: relative;

     
          width: 50%;


          }
        
        }
      }
  
  input[type="checkbox"] {
    width: 17px !important;
    height: 17px !important;
    border-radius: 6px;
    float: left;
}

input:checked[type="checkbox"] {
    accent-color: $primary-color;
}


//range

.wrapper {
  position: relative;
  width: 80%;

  padding: 5px 4px 2px 4px;
  border-radius: 10px;
}

.container {
  position: relative;
  width: 100%;
  margin-top: 15px;


}
input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  background-color: transparent;
  pointer-events: none;
}
.slider-track { 
  width: 100%;
  height: 2px;
  position: absolute;
  top: 0;
  bottom: 0;
  border-radius: 5px;
}
input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 2px;
}

input[type="range"]::-moz-range-track {
  -moz-appearance: none;
  height: 2px;
}

input[type="range"]::-ms-track {
  appearance: none;
  height: 2px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.3em;
  width: 1.3em;
  background-color: #ffffff;
  border: 2px solid red;
  cursor: pointer;
position: relative;
bottom: 6px;
  pointer-events: auto;
  border-radius: 50%;
}

.visible{
opacity: 0;
}
.values {
position: absolute;
top: 140%;
width: 100%;
@include flex-container(row, space-between ,center );
  font-weight: 500;
  font-size: 25px;
  color: light-dark(rgb(84, 84, 84));
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.values:before {
  content: "";
  position: absolute;

  left: 0;
  right: 0;
}
.selectParent{
  position: relative;

    .simg{
    position: absolute;
    width: 17px;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    height: 17px;
    filter: opacity(0.7);
  }
  .propertyStatus{
      padding-left: 40px !important;
  }
  }

  @import './filterResponsive.scss';
